
@charset "UTF-8"


body{
    background-color: aquamarine
}





img {
    width: ;

}

img, p {
    display: inline-block;
}
.container {
    display: flex;
    align-items: center;
}
